* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top-row {
	height: 50vh;
	background: coral;

	.left-cont {
		background: lightblue;
	}

	.right-cont {
		background: lightyellow;
	}
}

.btm-row {
	height: 50vh;
	background: coral;

	.btm-cont {
		height: 100vh;
		width: 100vw;

		.btm-display {
			background: lightgreen;
			width: 75vw;
			margin-top: 10%;
		}
	}
}
