* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.top-row {
	height: 50vh;
	background: coral;

	.left-cont {
		display: flex;
		align-items: center;
		justify-content: center;
		background: lightblue;
	}

	.right-cont {
		display: flex;
		align-items: center;
		justify-content: center;
		background: lightyellow;
	}
}

.btm-row {
	height: 50vh;
	background: coral;

	.btm-cont {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background: black;

		.btm-display {
			background: white;
			width: 75vw;
			height: 100%;
		}
	}
}
