@use "vars" as v;

* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: coral;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	width: 50%;
	height: 50%;
	background: v.$white;
}
